*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home{
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter{
  display: flex;
  gap: 25px;
}

.counter button{
  font-size: 24px;
  padding: 3px 15px;
  cursor: pointer;
}

.counter h2{
  font-size: 38px;
}

