*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  flex-direction: column;
}

.inpcont{
  display: flex;
  gap: 15px;
}

.input{
  padding: 8px;
  width: 300px;
  outline: none;
  border-radius:5px ;
  border: none;
}

.inpcont button{
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todos{
  width: 350px;
  margin-top: 20px;
}

.todos ul li{
  font-size: 24px;
}